.header-main-container {
    background-color: #35393c;
    display: flex;
    height: 8%;
    justify-content: center;
    align-items: center;
    animation-name: move-up;
    animation-duration: 3.5s;
    border-radius: 0px 0px 40px 40px;
    font-size: 38px;
    color: #ca61c3;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

.title-container {
    border-radius: 20px;
    
    height: 100%;
    animation-duration: 3.5s;
    animation-name: move-text;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trademark-symbol {
    font-size: 15px;
}

@keyframes move-up {
    /* 0% {margin-top: 200px; height: 50%; border-radius: 20px;} */
    0% {height: 8%;}
    80% {height: 55%; font-size: 260px; color: white; }
    100% {height: 8%;}
}

@keyframes move-text {
    0% {width: 15%}
    80% {border-radius: 100px;}
    100% {width: 15%}
}